/* Write your CSS here! */

html{
    scroll-behavior: smooth;
}

body{
    margin:8px;
    display: block;
    
}

.funParagraph{
    color:green;
}

#mainHeading{
    color: red;
    font-family: 'Sunshiney', cursive;
    font-size: 50px;
}
li{
    list-style: none;
    font-size: 20px;
    
}

a{
    text-decoration: none;
    color:black;
    font-family: 'Sunshiney', cursive;
    font-weight: bold;
    font-size: 25px;
}

a:hover{
    color:white;
    font-size: 25px;
}

h1, h2, p, footer{
    text-align: center;
}

h2{
     font-family: 'Mountains of Christmas', cursive;
}
ul{
    display:flex;
    justify-content: space-evenly;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding:30px;
    box-shadow:5px 5px 5px 5px rgb(55, 210, 224) ;
}

.vacation{
    border: 1px solid black;
    margin: 80px;
    box-shadow:5px 5px 5px 5px rgb(55, 210, 224) ;
}

#navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgb(55, 210, 224);

}

#header {
    margin-top: 70px; 
}

p{
    margin:8%;
    font-size: 30px;
    font-family: 'Sunshiney', cursive;
    font-size: 35px;
}

footer{
    background: rgb(55, 210, 224) ;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footerHeading{
    margin-bottom: 50px;
}